In [53]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
from urllib import parse
import re
import requests

In [54]:
URL = "https://namu.wiki/w/%EB%8F%99%EB%AC%BC%EC%9D%98%20%EC%88%B2%20%EC%8B%9C%EB%A6%AC%EC%A6%88/%EC%9D%BC%EB%B0%98%20%EC%A3%BC%EB%AF%BC"
def get_html(url):
    r = requests.get(url)
    return r.text
html = get_html(URL)
soup=BeautifulSoup(html,"html.parser")

In [229]:
t = soup.find_all("table")
print(len(t))

45

In [230]:
# print(t[11]) # 개 테이블 시작

In [231]:
col = t[11].tr # 실제 곤충 데이터가 있는 테이블 설정
cols = col.select('strong')
print(cols)

[<strong>이미지</strong>, <strong><span class="wiki-color" style="color:#00af04">이름</span></strong>, <strong><span class="wiki-color" style="color:#00af04">특징</span></strong>, <strong><span class="wiki-color" style="color:#00af04">등장</span></strong>]

In [312]:
columns = ['이름', '성별', '생일', '성격'] # 나중에 종류 추가하기
df = pd.DataFrame(columns = columns)
print(df) # 칼럼만 있는 데이터 생성

Empty DataFrame
Columns: [이름, 성별, 생일, 성격]
Index: []

In [313]:
# content = t[11] # 개 목록

In [314]:
animallist = []

In [315]:
# 사슴 25 26 빼고
for num in range(11, 25):
#     print(num)
    temp = t[num].select('td')
    temp = temp[19:]
    for te in temp:
        animallist.append(te.text)

In [316]:
# df에 미리 추가하기
for a in range(222): # 개 종류 20마리
#     print(animallist[a*16+1])
#     print([animallist[a*16 + 1], animallist[a*16 +4], animallist[a*16 +5], animallist[a*16 +6]]) # 예쁘게 한 줄로 뽑아내기 a*16:a*16+16
    df.loc[a] = animallist[a*16 + 1], animallist[a*16 +4], animallist[a*16 +5], animallist[a*16 +6]
print(df.tail())
print(len(df))

      이름 성별       생일   성격
217  에포나  ♀  11월 21일  아이돌
218   문복  ♂  09월 20일  무뚝뚝
219   탁호  ♂  03월 08일   먹보
220  문리나  ♀  06월 26일  친절함
221  멍무리  ♂  06월 02일  운동광
222

In [317]:
deer = []
# 제외한것들 추가 25 26 34 43 사슴 사슴뒤에 원숭이 햄스터
# 25 사슴
ex1 = t[25].select('td')
ex1 = ex1[14:]
for ex11 in ex1:
    deer.append(ex11.text)

In [291]:
for aa in range(11): # 사슴 종류
#     print(deer[aa*11+1])
#     print([animallist[a*11 + 1], animallist[a*11 +4], animallist[a*11 +5], animallist[a*11 +6]]) # 예쁘게 한 줄로 뽑아내기 a*16:a*16+16
    df.loc[aa + 222] = (deer[aa*11 + 1], deer[aa*11 +4], deer[aa*11 +5], deer[aa*11 +6])
print(df.tail(30))
print(len(df))

        이름 성별       생일       성격
203     꺼벙  ♂  09월 16일  운동광/느끼함
204   슈베르트  ♂  06월 16일      무뚝뚝
205    안소니  ♂  05월 22일      느끼함
206    유니오  ♂  03월 15일      느끼함
207    마철이  ♂  05월 01일       먹보
208    마사마  ♂  01월 10일       먹보
209    사반나  ♀  01월 25일      친절함
210    카로틴  ♀  01월 31일      아이돌
211  아이소토프  ♀  02월 09일      성숙함
212     말자  ♀  11월 28일      친절함
213   실부플레  ♀  12월 02일      성숙함
214   센트엘로  ♀  07월 11일      아이돌
215    리아나  ♀  06월 04일     단순활발
216     7호  ♀  07월 11일      친절함
217    에포나  ♀  11월 21일      아이돌
218     문복  ♂  09월 20일      무뚝뚝
219     탁호  ♂  03월 08일       먹보
220    문리나  ♀  06월 26일      친절함
221    멍무리  ♂  06월 02일      운동광
222     록키  ♂  11월 07일      운동광
223     넬슨  ♂  06월 07일      느끼함
224    브루스  ♂  05월 26일      무뚝뚝
225     피터  ♂  04월 05일       먹보
226     자끄  ♂  07월 27일       먹보
227     톰슨  ♂  08월 20일      느끼함
228     솔미  ♀  03월 26일      친절함
229    제시카  ♀  09월 19일     단순활발
230    나탈리  ♀  01월 04일      성숙함
231    나디아  ♀  05월 04일     단순활발
232     첼시  ♀  01월 18일      친절함
233

In [318]:
# 26
lions = []
ex2 = t[26].select('td')
ex2 = ex2[18:]
for ex22 in ex2:
    lions.append(ex22.text)
print(len(lions)/15)

9.0

In [319]:
# 사자 9마리 추가
for aa in range(9):
    df.loc[aa + 233] = (lions[aa*15 + 1], lions[aa*15 +4], lions[aa*15 +5], lions[aa*15 +6])
print(df.tail(11))
print(len(df))

       이름       성별       생일   성격
220   문리나        ♀  06월 26일  친절함
221   멍무리        ♂  06월 02일  운동광
233    렉스  07월 24일       먹보    O
234    티처  08월 14일      느끼함    O
235    선글  08월 18일      운동광    X
236     킹  07월 23일      무뚝뚝    X
237     릭  07월 10일      운동광    X
238    아더  08월 07일      운동광    X
239  라이오넬  07월 29일      느끼함    X
240  (없음)  02월 26일      운동광    O
241  (없음)  10월 16일      무뚝뚝    X
231

In [322]:
animallist2 = []
for num in range(27, 34):
#     print(num)
    temp = t[num].select('td')
    temp = temp[19:]
    for te in temp:
        animallist2.append(te.text)
print(len(animallist2)/16)
for aa in range(111):
    df.loc[aa + 242] = (animallist2[aa*16 + 1], animallist2[aa*16 +4], animallist2[aa*16 +5], animallist2[aa*16 +6])
print(df.tail(11))
print(len(df))

111.0
       이름 성별       생일    성격
350   귀오미  ♀  03월 07일   친절함
351  (없음)  ♂  04월 11일   운동광
352  (없음)  ♂  01월 01일   운동광
353    몽티  ♂  12월 07일   무뚝뚝
354    원승  ♂  11월 21일   운동광
355    델리  ♂  05월 24일    먹보
356    키키  ♀  08월 23일   친절함
357    몽자  ♀  03월 21일   성숙함
358  에이프릴  ♀  04월 02일   아이돌
359    젤리  ♀  04월 10일  단순활발
360   몽돌이  ♂  06월 04일   운동광
350

In [323]:
# 34 원숭이
monkey = []
ex4 = t[34].select('td')
ex4 = ex4[16:]
for ex44 in ex4:
#     print(ex44.text)
    monkey.append(ex44.text)
# print(len(monkey)/13)
for aa in range(9):
    df.loc[aa + 353] = (monkey[aa*13 + 1], monkey[aa*13 +4], monkey[aa*13 +5], monkey[aa*13 +6])
print(df.tail(10))
print(len(df))

       이름 성별       생일    성격
352  (없음)  ♂  01월 01일   운동광
353    시몬  ♂  01월 19일    먹보
354    몽티  ♂  12월 07일   무뚝뚝
355    원승  ♂  11월 21일   운동광
356    델리  ♂  05월 24일    먹보
357    키키  ♀  08월 23일   친절함
358    몽자  ♀  03월 21일   성숙함
359  에이프릴  ♀  04월 02일   아이돌
360    젤리  ♀  04월 10일  단순활발
361   몽돌이  ♂  06월 04일   운동광
351

In [324]:
animallist3 = []
for num in range(35, 43):
    temp = t[num].select('td')
    temp = temp[19:]
    for te in temp:
        animallist3.append(te.text)
print(len(animallist3)/16)

102.0

In [325]:
print(len(animallist3)/16)
for aa in range(102):
    df.loc[aa + 360] = (animallist3[aa*16 + 1], animallist3[aa*16 +4], animallist3[aa*16 +5], animallist3[aa*16 +6])
print(df.tail(10))
print(len(df))

102.0
       이름 성별       생일   성격
452  곤잘레스  ♂  08월 18일  무뚝뚝
453  가브리엘  ♂  03월 29일  운동광
454   올리버  ♂  01월 07일  무뚝뚝
455   데이빗  ♂  10월 15일  느끼함
456    차코  ♀  09월 18일  아이돌
457    베티  ♀  04월 25일  친절함
458    비티  ♀  10월 06일  성숙함
459  (없음)  ♂  06월 22일   먹보
460  (없음)  ♀  01월 09일  아이돌
461  (없음)  ♀  07월 08일  친절함
451

In [327]:
# 43 햄스터
hem = []
ex3 = t[43].select('td')
ex3 = ex3[14:]
for ex33 in ex3:
    hem.append(ex33.text)
#     print(ex33.text)
print(len(hem)/11)

9.0

In [334]:
for aa in range(9):
    df.loc[aa + 462] = (hem[aa*11 + 1], hem[aa*11 +4], hem[aa*11 +5], hem[aa*11 +6])
print(df.tail(10))
print(len(df))

       이름 성별       생일   성격
461  (없음)  ♀  07월 08일  친절함
462   햄스틴  ♂  05월 30일  운동광
463   글라햄  ♂  06월 20일  느끼함
464    지미  ♂  11월 10일  느끼함
465    햄둥  ♂  10월 19일   먹보
466    햄쥐  ♂  02월 25일  무뚝뚝
467    애플  ♀  09월 24일  아이돌
468   뽀야미  ♀  01월 30일  친절함
469    샨티  ♀  08월 09일  성숙함
470   노리보  ♂  06월 11일  운동광
460

In [335]:
# 호랑이
tiger = []
for num in range(44, 45):
    temp = t[num].select('td')
    temp = temp[19:]
    for te in temp:
        tiger.append(te.text)
print(len(tiger)/16)
print(tiger)

7.0
['', '호랭이', 'チョモラン', 'Rolf', '♂', '08월 22일', '무뚝뚝', 'O', 'O', 'O', 'O', 'O', 'O', 'O', '\u3000', 'O', '', '고메스', 'ゴメス', 'Rowan', '♂', '08월 26일', '무뚝뚝/운동광', 'X', '☆', '☆', 'O', 'O', 'O', 'O', 'O', 'O', '', '티볼트', 'ハリマオ', 'Tybalt', '♂', '08월 19일', '운동광', 'O', 'O', 'O', 'X', 'X', '◎', 'X', '', 'O', '', '범호', 'ヒョウタ', 'Leonardo', '♂', '05월 15일', '운동광', 'X', 'X', 'O', 'X', 'X', 'O', 'O', '', 'O', '', '루주', 'ルーズ', 'Bangle', '♀', '08월 27일', '아이돌', 'O', 'O', 'O', 'X', 'X', 'O', 'O', '', 'O', '', '신디', 'マリリン', 'Claudia', '♀', '11월 22일', '성숙함', 'X', 'X', 'X', 'X', 'X', 'O', 'O', 'O', 'O', '', '백희', 'コユキ', 'Bianca', '♀', '12월 13일', '아이돌', 'X', 'X', 'X', 'X', 'X', 'O', 'O', 'O', 'O']

In [336]:
# 호랑이 추가
for a in range(7): # 개 종류 20마리
#     print(animallist[a*16+1])
#     print([animallist[a*16 + 1], animallist[a*16 +4], animallist[a*16 +5], animallist[a*16 +6]]) # 예쁘게 한 줄로 뽑아내기 a*16:a*16+16
    df.loc[a + 470] = tiger[a*16 + 1], tiger[a*16 +4], tiger[a*16 +5], tiger[a*16 +6]

In [337]:
print(df.tail(10))

      이름 성별       생일       성격
467   애플  ♀  09월 24일      아이돌
468  뽀야미  ♀  01월 30일      친절함
469   샨티  ♀  08월 09일      성숙함
470  호랭이  ♂  08월 22일      무뚝뚝
471  고메스  ♂  08월 26일  무뚝뚝/운동광
472  티볼트  ♂  08월 19일      운동광
473   범호  ♂  05월 15일      운동광
474   루주  ♀  08월 27일      아이돌
475   신디  ♀  11월 22일      성숙함
476   백희  ♀  12월 13일      아이돌

In [339]:
df.to_excel('animals.xlsx')