In [131]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
from urllib import parse
import re
import requests

In [181]:
URL = "https://namu.wiki/w/%EB%8F%99%EB%AC%BC%EC%9D%98%20%EC%88%B2%20%EC%8B%9C%EB%A6%AC%EC%A6%88/%EC%9D%BC%EB%B0%98%20%EC%A3%BC%EB%AF%BC"
def get_html(url):
    r = requests.get(url)
    return r.text
html = get_html(URL)
soup=BeautifulSoup(html,"html.parser")

In [182]:
t = soup.find_all("table")
print(len(t))

53

In [183]:
# print(t[11]) # 개 테이블 시작

In [184]:
col = t[11].tr # 실제 곤충 데이터가 있는 테이블 설정
cols = col.select('strong')
print(cols)

[<strong>이미지</strong>, <strong><span class="wiki-color" style="color:#00af04">이름</span></strong>, <strong><span class="wiki-color" style="color:#00af04">특징</span></strong>, <strong><span class="wiki-color" style="color:#00af04">등장</span></strong>]

In [185]:
columns = ['이름', '영어이름', '성별', '생일', '성격'] # 나중에 종류 추가하기
df = pd.DataFrame(columns = columns)
print(df) # 칼럼만 있는 데이터 생성

Empty DataFrame
Columns: [이름, 영어이름, 성별, 생일, 성격]
Index: []

In [186]:
# content = t[11] # 개 목록

In [187]:
animallist = []

In [188]:
# 사슴 25 26 빼고
for num in range(11, 25):
#     print(num)
    temp = t[num].select('td')
    temp = temp[19:]
    for te in temp:
        animallist.append(te.text)

In [189]:
# df에 미리 추가하기
for a in range(222): # 개 종류 20마리
#     print(animallist[a*16+1])
#     print([animallist[a*16 + 1], animallist[a*16 +4], animallist[a*16 +5], animallist[a*16 +6]]) # 예쁘게 한 줄로 뽑아내기 a*16:a*16+16
    df.loc[a] = animallist[a*16 + 1], animallist[a*16 +3], animallist[a*16 +4], animallist[a*16 +5], animallist[a*16 +6]
print(df.tail())
print(len(df))

      이름      영어이름 성별       생일   성격
217  에포나     Epona  ♀  11월 21일  아이돌
218   문복  Octavian  ♂  09월 20일  무뚝뚝
219   탁호    Zucker  ♂  03월 08일   먹보
220  문리나    Marina  ♀  06월 26일  친절함
221  멍무리   Inkwell  ♂  06월 02일  운동광
222

In [190]:
deer = []
# 제외한것들 추가 25 26 34 43 사슴 사슴뒤에 원숭이 햄스터
# 25 사슴
ex1 = t[25].select('td')
ex1 = ex1[14:]
for ex11 in ex1:
    deer.append(ex11.text)

In [191]:
for aa in range(11): # 사슴 종류
#     print(deer[aa*11+1])
#     print([animallist[a*11 + 1], animallist[a*11 +4], animallist[a*11 +5], animallist[a*11 +6]]) # 예쁘게 한 줄로 뽑아내기 a*16:a*16+16
    df.loc[aa + 222] = (deer[aa*11 + 1], deer[aa*11+3], deer[aa*11 +4], deer[aa*11 +5], deer[aa*11 +6])
print(df.tail(30))
print(len(df))

        이름      영어이름 성별       생일       성격
203     꺼벙        Ed  ♂  09월 16일  운동광/느끼함
204   슈베르트    Roscoe  ♂  06월 16일      무뚝뚝
205    안소니    Colton  ♂  05월 22일      느끼함
206    유니오    Julian  ♂  03월 15일      느끼함
207    마철이     Clyde  ♂  05월 01일       먹보
208    마사마      Papi  ♂  01월 10일       먹보
209    사반나  Savannah  ♀  01월 25일      친절함
210    카로틴    Winnie  ♀  01월 31일      아이돌
211  아이소토프      Cleo  ♀  02월 09일      성숙함
212     말자   Peaches  ♀  11월 28일      친절함
213   실부플레  Annalise  ♀  12월 02일      성숙함
214   센트엘로  Victoria  ♀  07월 11일      아이돌
215    리아나   Reneigh  ♀  06월 04일     단순활발
216     7호     Filly  ♀  07월 11일      친절함
217    에포나     Epona  ♀  11월 21일      아이돌
218     문복  Octavian  ♂  09월 20일      무뚝뚝
219     탁호    Zucker  ♂  03월 08일       먹보
220    문리나    Marina  ♀  06월 26일      친절함
221    멍무리   Inkwell  ♂  06월 02일      운동광
222     록키       Bam  ♂  11월 07일      운동광
223     넬슨      Zell  ♂  06월 07일      느끼함
224    브루스     Bruce  ♂  05월 26일      무뚝뚝
225     피터      Beau  ♂  04월 05일       먹보
226     자끄      Erik  ♂  07월 27일       먹보
227     톰슨     Lopez  ♂  08월 20일      느끼함
228     솔미     Fauna  ♀  03월 26일      친절함
229    제시카   Fuchsia  ♀  09월 19일     단순활발
230    나탈리     Diana  ♀  01월 04일      성숙함
231    나디아   Deirdre  ♀  05월 04일     단순활발
232     첼시   Chelsea  ♀  01월 18일      친절함
233

In [192]:
# 26
lions = []
ex2 = t[26].select('td')
ex2 = ex2[18:]
for ex22 in ex2:
    lions.append(ex22.text)
print(len(lions)/15)

9.0

In [193]:
# 사자 9마리 추가
for aa in range(9):
    df.loc[aa + 233] = (lions[aa*15 + 1], lions[aa*15+3], lions[aa*15 +4], lions[aa*15 +5], lions[aa*15 +6])
print(df.tail(11))
print(len(df))

       이름     영어이름       성별       생일    성격
231   나디아  Deirdre        ♀  05월 04일  단순활발
232    첼시  Chelsea        ♀  01월 18일   친절함
233    렉스      Rex  07월 24일       먹보     O
234    티처  Leopold  08월 14일      느끼함     O
235    선글      Bud  08월 18일      운동광     X
236     킹    Elvis  07월 23일      무뚝뚝     X
237     릭     Mott  07월 10일      운동광     X
238    아더     Rory  08월 07일      운동광     X
239  라이오넬   Lionel  07월 29일      느끼함     X
240  (없음)     Aziz  02월 26일      운동광     O
241  (없음)     (없음)  10월 16일      무뚝뚝     X
242

In [194]:
print(len(df))

242

In [195]:
animallist2 = []
for num in range(27, 34):
#     print(num)
    temp = t[num].select('td')
    temp = temp[19:]
    for te in temp:
        animallist2.append(te.text)
print(len(animallist2)/16)
for aa in range(111):
    df.loc[aa + 242] = (animallist2[aa*16 + 1], animallist2[aa*16+3], animallist2[aa*16 +4], animallist2[aa*16 +5], animallist2[aa*16 +6])
print(df.tail(11))
print(len(df))

111.0
       이름      영어이름 성별       생일   성격
342    주디    Pompom  ♀  02월 11일  아이돌
343     앤    Maelle  ♀  04월 08일  성숙함
344   마리모     Deena  ♀  06월 27일  친절함
345   스미모   Mallary  ♀  11월 17일  성숙함
346   다랑어  Freckles  ♀  02월 19일  아이돌
347   미란다   Miranda  ♀  04월 23일  성숙함
348    케첩   Ketchup  ♀  07월 27일  아이돌
349   마릴린    Gloria  ♀  08월 12일  성숙함
350   귀오미     Molly  ♀  03월 07일  친절함
351  (없음)      (없음)  ♂  04월 11일  운동광
352  (없음)      (없음)  ♂  01월 01일  운동광
353

In [196]:
# 34 원숭이
monkey = []
ex4 = t[34].select('td')
ex4 = ex4[16:]
for ex44 in ex4:
#     print(ex44.text)
    monkey.append(ex44.text)
# print(len(monkey)/13)
for aa in range(9):
    df.loc[aa + 353] = (monkey[aa*13 + 1], monkey[aa*13+3], monkey[aa*13 +4], monkey[aa*13 +5], monkey[aa*13 +6])
print(df.tail(10))

       이름   영어이름 성별       생일    성격
352  (없음)   (없음)  ♂  01월 01일   운동광
353    시몬  Simon  ♂  01월 19일    먹보
354    몽티  Monty  ♂  12월 07일   무뚝뚝
355    원승   Flip  ♂  11월 21일   운동광
356    델리   Deli  ♂  05월 24일    먹보
357    키키   Nana  ♀  08월 23일   친절함
358    몽자  Elise  ♀  03월 21일   성숙함
359  에이프릴  Tammi  ♀  04월 02일   아이돌
360    젤리  Shari  ♀  04월 10일  단순활발
361   몽돌이  Champ  ♂  06월 04일   운동광

In [197]:
kangaroo = [] # 35-43
k = t[35].select('td')
for te in k:
        kangaroo.append(te.text)
kangaroo = kangaroo[19:]
for aa in range(11):
    df.loc[aa + 360] = (kangaroo[aa*16 + 1], kangaroo[aa*16+3], kangaroo[aa*16 +4], kangaroo[aa*16 +5], kangaroo[aa*16 +6])
print(df.tail())
print(len(df))

       이름    영어이름 성별       생일        성격
366   실비아  Sylvia  ♀  05월 03일  성숙함/단순활발
367   마리아  Marcie  ♀  05월 31일       친절함
368  (없음)  Valise  ♀  12월 03일       성숙함
369  (없음)   Marcy  ♀  05월 31일       아이돌
370  (없음)    (없음)  ♀  02월 14일       친절함
371

In [198]:
# 코끼리
# print(t[36])
elephant = []
e = t[36].select('td')
for el in e:
    elephant.append(el.text)
print(elephant[18:])
elephant = elephant[18:]
# print(len(elephant)/15)
for aa in range(13):
    df.loc[aa + 370] = (elephant[aa*15], elephant[aa*15+2], elephant[aa*15 +3], elephant[aa*15 +4], elephant[aa*15 +5])
print(df.tail(10))
print(len(df))

['휴지', 'ヒュージ', 'Dizzy', '♂', '07월 14일', '먹보', 'O', 'O', 'O', 'O', 'O', 'O', 'O', '\u3000', 'O', '3호', '3ごう', 'Big Top', '♂', '10월 03일', '먹보', 'X', 'X', 'O', 'O', 'O', 'O', 'O', 'O', 'O', '엑스엘리', 'エックスエル', 'Axel', '♂', '03월 23일', '운동광', 'O', 'O', 'O', 'X', 'O', 'O', 'O', '\u3000', 'O', '파올로', 'パオロ', 'Paolo', '♂', '05월 05일', '먹보', 'O', 'O', 'O', 'X', 'X', '◎', 'X', 'O', 'O', '맘모', 'はじめ', 'Tucker', '♂', '09월 07일', '먹보', 'X', 'X', 'X', 'X', 'X', 'O', 'O', 'O', 'O', '펑크스', 'パンクス', 'Cyd', '♂', '06월 09일', '무뚝뚝', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'O', 'O', '오팔', 'オパール', 'Opal', '♀', '01월 20일', '성숙함', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', '엘레핀', 'エレフィン', 'Eloise', '♀', '12월 08일', '성숙함', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', '샐리', 'サリー', 'Margie', '♀', '01월 28일', '친절함', 'X', 'X', 'O', 'O', 'O', 'O', 'O', 'O', 'O', '에끌레르', 'エクレア', 'Ellie', '♀', '05월 12일', '친절함', 'O', 'O', 'O', 'X', 'X', '◎', 'X', '\u3000', 'O', '티나', 'ティーナ', 'Tia', '♀', '11월 18일', '친절함', 'X', 'X', 'X', 'X', 'X', 'O', 'O', 'O', 'O', '(없음)', 'ビンディ', 'Elina', '♀', '07월 01일', '성숙함', 'X', '☆', '☆', 'X', 'X', 'X', 'X', '\u3000', '', '피카', 'フィーカ', 'Chai', '♀', '03월 06일', '아이돌', 'X', 'X', 'X', 'X', 'X', '◎', 'X', 'O', '']
       이름    영어이름 성별       생일   성격
373   파올로   Paolo  ♂  05월 05일   먹보
374    맘모  Tucker  ♂  09월 07일   먹보
375   펑크스     Cyd  ♂  06월 09일  무뚝뚝
376    오팔    Opal  ♀  01월 20일  성숙함
377   엘레핀  Eloise  ♀  12월 08일  성숙함
378    샐리  Margie  ♀  01월 28일  친절함
379  에끌레르   Ellie  ♀  05월 12일  친절함
380    티나     Tia  ♀  11월 18일  친절함
381  (없음)   Elina  ♀  07월 01일  성숙함
382    피카    Chai  ♀  03월 06일  아이돌
383

In [199]:
# 코뿔소 코알라 타조
rhino = []
for num in range(38, 44, 2):
    temp = []
    r = t[num].select('td')
    for re in range(18, len(r)):
        temp.append(r[re].text)
    rhino += temp
# print(rhino)

# print(len(rhino)/15)
for aa in range(32):
    df.loc[aa + 382] = (rhino[aa*15], rhino[aa*15+2], rhino[aa*15 +3], rhino[aa*15 +4], rhino[aa*15 +5])
print(df.tail(10))

print(len(df))

       이름     영어이름 성별       생일       성격
404    케인     Phil  ♂  11월 27일      느끼함
405    택주  Queenie  ♀  11월 13일      성숙함
406  빅토리아   Gladys  ♀  01월 15일      친절함
407    샌디    Sandy  ♀  10월 21일      친절함
408   줄리아    Julia  ♀  07월 31일  아이돌/성숙함
409    휘니   Phoebe  ♀  04월 22일     단순활발
410    신옥  Blanche  ♀  12월 21일      성숙함
411   플라라    Flora  ♀  02월 09일      아이돌
412  (없음)     (없음)  ♂  06월 05일       먹보
413  (없음)      Rio  ♀  10월 11일      아이돌
414

In [200]:
# 토끼
rabbit = []
ra = t[44].select('td')
ra = ra[19:]

for r in ra:
    rabbit.append(r.text)
# print(rabbit)
print(len(rabbit)/16)
for aa in range(21):
    df.loc[aa + 463] = (rabbit[aa*16 + 1], rabbit[aa*16+3], rabbit[aa*16 +4], rabbit[aa*16 +5], rabbit[aa*16 +6])
print(df.tail(10))
print(len(df))

21.0
       이름      영어이름 성별       생일    성격
474   패티카      Gabi  ♀  12월 16일   아이돌
475    로타     Pippy  ♀  06월 14일   아이돌
476  프랑소와  Francine  ♀  01월 22일   성숙함
477  크리스틴   Chrissy  ♀  08월 28일   아이돌
478   바슬레   Tiffany  ♀  01월 09일   성숙함
479    초코    Carmen  ♀  01월 06일   아이돌
480    루나      Ruby  ♀  12월 25일   아이돌
481    미랑      Mira  ♀  07월 06일  단순활발
482    미미    Bonbon  ♀  03월 03일   아이돌
483    토비      Toby  ♂  07월 10일   느끼함
435

In [201]:
# 45 47 40 펭귄 하마
hem = []
for num in range(45, 48, 2):
    temp2 = []
    r = t[num].select('td')
    for re in range(18, len(r)):
        temp2.append(r[re].text)
    hem += temp2
for aa in range(25):
    df.loc[aa + 483] = (hem[aa*15], hem[aa*15+2], hem[aa*15 +3], hem[aa*15 +4], hem[aa*15 +5])
print(df.tail(10))

       이름     영어이름 성별       생일   성격
498  곤잘레스    Rocco  ♂  08월 18일  무뚝뚝
499  가브리엘     Biff  ♂  03월 29일  운동광
500   올리버    Harry  ♂  01월 07일  무뚝뚝
501   데이빗  Hippeux  ♂  10월 15일  느끼함
502    차코  Bubbles  ♀  09월 18일  아이돌
503    베티   Bertha  ♀  04월 25일  친절함
504    비티    Bitty  ♀  10월 06일  성숙함
505  (없음)    Rollo  ♂  06월 22일   먹보
506  (없음)     Lulu  ♀  01월 09일  아이돌
507  (없음)    Clara  ♀  07월 08일  친절함

In [216]:
# 햄스터
penguin = []
pen = t[49].select('td')
pen = pen[13:]
# print(pen)
for r in pen:
    penguin.append(r.text)
print(len(penguin)/10)
for aa in range(9):
    df.loc[aa + 507] = (penguin[aa*10],penguin[aa*10+2], penguin[aa*10 +3], penguin[aa*10 +4], penguin[aa*10 +5])
print(df.tail(10))
print(len(df))

9.0
       이름      영어이름 성별       생일   성격
506  (없음)      Lulu  ♀  01월 09일  아이돌
507   햄스틴    Hamlet  ♂  05월 30일  운동광
508   글라햄    Graham  ♂  06월 20일  느끼함
509    지미    Rodney  ♂  11월 10일  느끼함
510    햄둥      Clay  ♂  10월 19일   먹보
511    햄쥐  Hamphrey  ♂  02월 25일  무뚝뚝
512    애플     Apple  ♀  09월 24일  아이돌
513   뽀야미    Flurry  ♀  01월 30일  친절함
514    샨티    Soleil  ♀  08월 09일  성숙함
515   노리보    Holden  ♂  06월 11일  운동광
467

In [223]:
# 호랑이
tiger = []
tig = t[51].select('td')
tig = tig[18:]
# print(tig)
for r in tig:
    tiger.append(r.text)
print(len(tig)/15)
for a in range(7): # 개 종류 20마리
    df.loc[a + 515] = tiger[a*15], tiger[a*15+2],  tiger[a*15 +3], tiger[a*15 +4], tiger[a*15 +5]
df.tail()

7.0

      이름      영어이름 성별       생일   성격
517  티볼트    Tybalt  ♂  08월 19일  운동광
518   범호  Leonardo  ♂  05월 15일  운동광
519   루주    Bangle  ♀  08월 27일  아이돌
520   신디   Claudia  ♀  11월 22일  성숙함
521   백희    Bianca  ♀  12월 13일  아이돌

In [224]:
df.to_excel('animals2.xlsx')