In [53]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
from urllib import parse
import re
import requests

In [54]:
URL = "https://namu.wiki/w/%EB%8F%99%EB%AC%BC%EC%9D%98%20%EC%88%B2%20%EC%8B%9C%EB%A6%AC%EC%A6%88/%EC%9D%BC%EB%B0%98%20%EC%A3%BC%EB%AF%BC"
def get_html(url):
    r = requests.get(url)
    return r.text
html = get_html(URL)
soup=BeautifulSoup(html,"html.parser")

In [229]:
t = soup.find_all("table")
print(len(t))

45

In [230]:
# print(t[11]) # 개 테이블 시작

In [231]:
col = t[11].tr # 실제 곤충 데이터가 있는 테이블 설정
cols = col.select('strong')
print(cols)

[<strong>이미지</strong>, <strong><span class="wiki-color" style="color:#00af04">이름</span></strong>, <strong><span class="wiki-color" style="color:#00af04">특징</span></strong>, <strong><span class="wiki-color" style="color:#00af04">등장</span></strong>]

In [285]:
columns = ['이름', '성별', '생일', '성격'] # 나중에 종류 추가하기
df = pd.DataFrame(columns = columns)
print(df) # 칼럼만 있는 데이터 생성

Empty DataFrame
Columns: [이름, 성별, 생일, 성격]
Index: []

In [286]:
# content = t[11] # 개 목록

In [287]:
animallist = []

In [288]:
# 사슴 25 26 빼고
for num in range(11, 25):
#     print(num)
    temp = t[num].select('td')
    temp = temp[19:]
    for te in temp:
        animallist.append(te.text)

In [289]:
# df에 미리 추가하기
for a in range(222): # 개 종류 20마리
#     print(animallist[a*16+1])
#     print([animallist[a*16 + 1], animallist[a*16 +4], animallist[a*16 +5], animallist[a*16 +6]]) # 예쁘게 한 줄로 뽑아내기 a*16:a*16+16
    df.loc[a] = animallist[a*16 + 1], animallist[a*16 +4], animallist[a*16 +5], animallist[a*16 +6]
print(df.tail())
print(len(df))

      이름 성별       생일   성격
217  에포나  ♀  11월 21일  아이돌
218   문복  ♂  09월 20일  무뚝뚝
219   탁호  ♂  03월 08일   먹보
220  문리나  ♀  06월 26일  친절함
221  멍무리  ♂  06월 02일  운동광
222

In [290]:
deer = []
# 제외한것들 추가 25 26 34 43 사슴 사슴뒤에 원숭이 햄스터
# 25 사슴
ex1 = t[25].select('td')
ex1 = ex1[14:]
for ex11 in ex1:
    deer.append(ex11.text)

In [291]:
for aa in range(11): # 사슴 종류
#     print(deer[aa*11+1])
#     print([animallist[a*11 + 1], animallist[a*11 +4], animallist[a*11 +5], animallist[a*11 +6]]) # 예쁘게 한 줄로 뽑아내기 a*16:a*16+16
    df.loc[aa + 222] = (deer[aa*11 + 1], deer[aa*11 +4], deer[aa*11 +5], deer[aa*11 +6])
print(df.tail(30))
print(len(df))

        이름 성별       생일       성격
203     꺼벙  ♂  09월 16일  운동광/느끼함
204   슈베르트  ♂  06월 16일      무뚝뚝
205    안소니  ♂  05월 22일      느끼함
206    유니오  ♂  03월 15일      느끼함
207    마철이  ♂  05월 01일       먹보
208    마사마  ♂  01월 10일       먹보
209    사반나  ♀  01월 25일      친절함
210    카로틴  ♀  01월 31일      아이돌
211  아이소토프  ♀  02월 09일      성숙함
212     말자  ♀  11월 28일      친절함
213   실부플레  ♀  12월 02일      성숙함
214   센트엘로  ♀  07월 11일      아이돌
215    리아나  ♀  06월 04일     단순활발
216     7호  ♀  07월 11일      친절함
217    에포나  ♀  11월 21일      아이돌
218     문복  ♂  09월 20일      무뚝뚝
219     탁호  ♂  03월 08일       먹보
220    문리나  ♀  06월 26일      친절함
221    멍무리  ♂  06월 02일      운동광
222     록키  ♂  11월 07일      운동광
223     넬슨  ♂  06월 07일      느끼함
224    브루스  ♂  05월 26일      무뚝뚝
225     피터  ♂  04월 05일       먹보
226     자끄  ♂  07월 27일       먹보
227     톰슨  ♂  08월 20일      느끼함
228     솔미  ♀  03월 26일      친절함
229    제시카  ♀  09월 19일     단순활발
230    나탈리  ♀  01월 04일      성숙함
231    나디아  ♀  05월 04일     단순활발
232     첼시  ♀  01월 18일      친절함
233

In [292]:
# 26
lions = []
ex2 = t[26].select('td')
ex2 = ex2[18:]
for ex22 in ex2:
    lions.append(ex22.text)
print(len(lions)/15)

9.0

In [293]:
# 사자 9마리 추가
for aa in range(9):
    df.loc[aa + 233] = (lions[aa*15 + 1], lions[aa*15 +4], lions[aa*15 +5], lions[aa*15 +6])
print(df.tail(11))
print(len(df))

       이름       성별       생일    성격
231   나디아        ♀  05월 04일  단순활발
232    첼시        ♀  01월 18일   친절함
233    렉스  07월 24일       먹보     O
234    티처  08월 14일      느끼함     O
235    선글  08월 18일      운동광     X
236     킹  07월 23일      무뚝뚝     X
237     릭  07월 10일      운동광     X
238    아더  08월 07일      운동광     X
239  라이오넬  07월 29일      느끼함     X
240  (없음)  02월 26일      운동광     O
241  (없음)  10월 16일      무뚝뚝     X
242

In [294]:
animallist2 = []
for num in range(27, 34):
#     print(num)
    temp = t[num].select('td')
    temp = temp[19:]
    for te in temp:
        animallist2.append(te.text)
print(len(animallist2)/16)
for aa in range(111):
    df.loc[aa + 242] = (animallist2[aa*16 + 1], animallist2[aa*16 +4], animallist2[aa*16 +5], animallist2[aa*16 +6])
print(df.tail(11))
print(len(df))

111.0
       이름 성별       생일   성격
342    주디  ♀  02월 11일  아이돌
343     앤  ♀  04월 08일  성숙함
344   마리모  ♀  06월 27일  친절함
345   스미모  ♀  11월 17일  성숙함
346   다랑어  ♀  02월 19일  아이돌
347   미란다  ♀  04월 23일  성숙함
348    케첩  ♀  07월 27일  아이돌
349   마릴린  ♀  08월 12일  성숙함
350   귀오미  ♀  03월 07일  친절함
351  (없음)  ♂  04월 11일  운동광
352  (없음)  ♂  01월 01일  운동광
353

In [295]:
# 34 원숭이
monkey = []
ex4 = t[34].select('td')
ex4 = ex4[16:]
for ex44 in ex4:
#     print(ex44.text)
    monkey.append(ex44.text)
# print(len(monkey)/13)
for aa in range(9):
    df.loc[aa + 352] = (monkey[aa*13 + 1], monkey[aa*13 +4], monkey[aa*13 +5], monkey[aa*13 +6])
print(df.tail(10))
print(len(df))

       이름 성별       생일    성격
351  (없음)  ♂  04월 11일   운동광
352    시몬  ♂  01월 19일    먹보
353    몽티  ♂  12월 07일   무뚝뚝
354    원승  ♂  11월 21일   운동광
355    델리  ♂  05월 24일    먹보
356    키키  ♀  08월 23일   친절함
357    몽자  ♀  03월 21일   성숙함
358  에이프릴  ♀  04월 02일   아이돌
359    젤리  ♀  04월 10일  단순활발
360   몽돌이  ♂  06월 04일   운동광
361

In [296]:
animallist3 = []
for num in range(35, 44):
    temp = t[num].select('td')
    temp = temp[19:]
    for te in temp:
        animallist3.append(te.text)

In [297]:
print(len(animallist3)/16)
for aa in range(92):
    df.loc[aa + 360] = (animallist3[aa*16 + 1], animallist3[aa*16 +4], animallist3[aa*16 +5], animallist3[aa*16 +6])
print(df.tail(10))
print(len(df))

102.0
       이름 성별       생일    성격
442    호떡  ♂  10월 30일    먹보
443   김말이  ♂  11월 02일   운동광
444    볼트  ♂  10월 06일   느끼함
445   오로라  ♀  01월 27일   친절함
446  사브리나  ♀  10월 16일   성숙함
447    폴라  ♀  01월 23일   성숙함
448   레이라  ♀  09월 02일  단순활발
449   크리미  ♀  02월 20일   아이돌
450  (없음)  ♂  01월 23일    먹보
451  (없음)  ♂  12월 07일   운동광
452

In [278]:
# 43 햄스터
hem = []
ex3 = t[43].select('td')
ex3 = ex3[14:]
for ex33 in ex3:
    hem.append(ex33.text)
#     print(ex33.text)
print(len(hem)/11)

9.0

In [280]:
for aa in range(9):
    df.loc[aa + 451] = (hem[aa*11 + 1], hem[aa*11 +4], hem[aa*11 +5], hem[aa*11 +6])
print(df.tail(10))
print(len(df))

       이름 성별       생일   성격
450  (없음)  ♂  01월 23일   먹보
451   햄스틴  ♂  05월 30일  운동광
452   글라햄  ♂  06월 20일  느끼함
453    지미  ♂  11월 10일  느끼함
454    햄둥  ♂  10월 19일   먹보
455    햄쥐  ♂  02월 25일  무뚝뚝
456    애플  ♀  09월 24일  아이돌
457   뽀야미  ♀  01월 30일  친절함
458    샨티  ♀  08월 09일  성숙함
459   노리보  ♂  06월 11일  운동광
460

In [281]:
# 햄스터 제외 43
for num in range(44, 45):
    print(num)
#     temp = t[num].select('td')
#     temp = temp[19:]
#     for te in temp:
#         animallist.append(te.text)

44

In [201]:
print(len(animallist)/16)
# print(animallist)
for a in range(461): # 개 종류 20마리
    print(animallist[a*16+1])
#     print([animallist[a*16 + 1], animallist[a*16 +4], animallist[a*16 +5], animallist[a*16 +6]]) # 예쁘게 한 줄로 뽑아내기 a*16:a*16+16
#     df.loc[a] = animallist[a*16 + 1], animallist[a*16 +4], animallist[a*16 +5], animallist[a*16 +6]

461.625
존
럭키
로빈
토미
벤
챔프
에드워드
땡칠이
밥
카라멜
블랜더
바닐라
베리
마롱
베이글
한나
(없음)
(없음)
(없음)
(없음)
철컥
덕
드리미
충성
샘
왕서방
카일
스트로
텀보
레이니
가위
에스메랄다
구리구리
개군
린다
헨리
투투
아이다
(없음)
(없음)
사지마
퍼머거
안토니오
패트라
스누티
아롱이
설백
(없음)
(없음)
(없음)
앨런
덤벨
머슬
보이드
만복이
우락
스나일
줌마
4호
(없음)
(없음)
릴라
히죽
빙티
가북희
진상
1호
땀띠
밴덤
찰스
잭슨
마르
부케
올리비아
캐비어
쇼콜라
백프로
타마
제인
호냥이
유네찌
예링
사이다
클레오
쵸이
(없음)
(없음)
아이루
병태
츄양
박하스
거무틱
무뚝
뚝심
대공
곰도로스
베어드
링링
연유
네이아
레이첼
챠미
캔디
(없음)
봉추
우띠
아이다호
곰비
머피
패치
팬타
곰시
글루민
메이첼
올리브
아세로라
메이
재스민
아네사
미애
(없음)
(없음)
마티
(없음)
대장
늑태
로보
시베리아
켄
리카르도
산드라
비앙카
바네사
릴리
모니카
(없음)
울프 링크
리키
스파크
갈가리
크리스
쭈니
레베카
핑키
그리미
실루엣
라라미
민트
파슬리
캐롤라인
2호
나타샤
실바나
다람
아이리스
(없음)
나기사
미사키
건태
김희
페니실린
금끼오
오골
에바
파타야
아리아
히킨
(없음)
(없음)
(없음)
(없음)
(없음)
아폴로
세바스찬
쿠스케처
헐크
은수리
프랭크
근엄
안데스
티파니
(없음)
햄까스
글레이
먹고파
포크
박사
보리
멧지
돈후앙
탱고
루시
체리
브리트니
아그네스
마가렛
꽃지
(없음)
(없음)
가논
(없음)
바야시코프
샤브렌
꺼벙
슈베르트
안소니
유니오
마철이
마사마
사반나
카로틴
아이소토프
말자
실부플레
센트엘로
리아나
7호
에포나
문복
탁호
문리나
멍무리
록키
느끼함

07월 27일
O
♀
O
Chelsea
07월 24일
느끼함
X
X
X
X
X
X
X
O
O
X
X
O
O
O
O
O
O
O
O
X
X
X
X
X
X
X
X
X
O
O
O
O
O
O
O
O
O
O
O
X
O
O
O
X
X
X
X
X
O
O
O
O
O
O
O
X
O
X
X
X
X
X
X
X
O
X
O
O
O
O
O
X
X
O
O
X
O
O
O
X
X
O
O
O
O
O
X
X
X
O
X
O
X
O
O
O
O
X
X
O
O
O
O
X
O
O
O
O
O
O
O
O
O
X
O
O
X
X
O
O
O
O
O
O
O
O
X
X
X
O
O
O
X
O
X
O
O
O
X
O
X
X
O
X
X
O
O
O
X
X
X
O
X
O
O
O
O
O
O
O
X
X
X
O
O
O
O
X
X
O
O
O
X
X
O
O
O
O
O
X
O
O
O
O
O
O
O
O
O
O
O
O
O
O
X
O
O
O
O
O
X
O
O
O
O
O
O
O
X
X

Flip
먹보
O
O
シェリー
06월 04일
O
♂

Apple
O
のりぼう
O
X
O
X
O
X

In [173]:
print(df.tail())

      이름 성별       생일   성격
427  티볼트  ♂  08월 19일  운동광
428   범호  ♂  05월 15일  운동광
429   루주  ♀  08월 27일  아이돌
430   신디  ♀  11월 22일  성숙함
431   백희  ♀  12월 13일  아이돌

In [174]:
df.to_excel('animal_except.xlsx')