In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
from urllib import parse
import re
import requests

In [2]:
URL = "https://namu.wiki/w/%EB%8F%99%EB%AC%BC%EC%9D%98%20%EC%88%B2%20%EC%8B%9C%EB%A6%AC%EC%A6%88/%EC%9D%BC%EB%B0%98%20%EC%A3%BC%EB%AF%BC"
def get_html(url):
    r = requests.get(url)
    return r.text
html = get_html(URL)
soup=BeautifulSoup(html,"html.parser")

In [3]:
t = soup.find_all("table")
print(len(t))

45

In [4]:
# print(t[11]) # 개 테이블 시작

In [5]:
col = t[11].tr # 실제 곤충 데이터가 있는 테이블 설정
cols = col.select('strong')
print(cols)

[<strong>이미지</strong>, <strong><span class="wiki-color" style="color:#00af04">이름</span></strong>, <strong><span class="wiki-color" style="color:#00af04">특징</span></strong>, <strong><span class="wiki-color" style="color:#00af04">등장</span></strong>]

In [6]:
columns = ['이름', '영어이름', '성별', '생일', '성격'] # 나중에 종류 추가하기
df = pd.DataFrame(columns = columns)
print(df) # 칼럼만 있는 데이터 생성

Empty DataFrame
Columns: [이름, 영어이름, 성별, 생일, 성격]
Index: []

In [7]:
# content = t[11] # 개 목록

In [8]:
animallist = []

In [9]:
# 사슴 25 26 빼고
for num in range(11, 25):
#     print(num)
    temp = t[num].select('td')
    temp = temp[19:]
    for te in temp:
        animallist.append(te.text)

In [10]:
# df에 미리 추가하기
for a in range(222): # 개 종류 20마리
#     print(animallist[a*16+1])
#     print([animallist[a*16 + 1], animallist[a*16 +4], animallist[a*16 +5], animallist[a*16 +6]]) # 예쁘게 한 줄로 뽑아내기 a*16:a*16+16
    df.loc[a] = animallist[a*16 + 1], animallist[a*16 +3], animallist[a*16 +4], animallist[a*16 +5], animallist[a*16 +6]
print(df.tail())
print(len(df))

      이름      영어이름 성별       생일   성격
217  에포나     Epona  ♀  11월 21일  아이돌
218   문복  Octavian  ♂  09월 20일  무뚝뚝
219   탁호    Zucker  ♂  03월 08일   먹보
220  문리나    Marina  ♀  06월 26일  친절함
221  멍무리   Inkwell  ♂  06월 02일  운동광
222

In [11]:
deer = []
# 제외한것들 추가 25 26 34 43 사슴 사슴뒤에 원숭이 햄스터
# 25 사슴
ex1 = t[25].select('td')
ex1 = ex1[14:]
for ex11 in ex1:
    deer.append(ex11.text)

In [12]:
for aa in range(11): # 사슴 종류
#     print(deer[aa*11+1])
#     print([animallist[a*11 + 1], animallist[a*11 +4], animallist[a*11 +5], animallist[a*11 +6]]) # 예쁘게 한 줄로 뽑아내기 a*16:a*16+16
    df.loc[aa + 222] = (deer[aa*11 + 1], deer[aa*11+3], deer[aa*11 +4], deer[aa*11 +5], deer[aa*11 +6])
print(df.tail(30))
print(len(df))

        이름      영어이름 성별       생일       성격
203     꺼벙        Ed  ♂  09월 16일  운동광/느끼함
204   슈베르트    Roscoe  ♂  06월 16일      무뚝뚝
205    안소니    Colton  ♂  05월 22일      느끼함
206    유니오    Julian  ♂  03월 15일      느끼함
207    마철이     Clyde  ♂  05월 01일       먹보
208    마사마      Papi  ♂  01월 10일       먹보
209    사반나  Savannah  ♀  01월 25일      친절함
210    카로틴    Winnie  ♀  01월 31일      아이돌
211  아이소토프      Cleo  ♀  02월 09일      성숙함
212     말자   Peaches  ♀  11월 28일      친절함
213   실부플레  Annalise  ♀  12월 02일      성숙함
214   센트엘로  Victoria  ♀  07월 11일      아이돌
215    리아나   Reneigh  ♀  06월 04일     단순활발
216     7호     Filly  ♀  07월 11일      친절함
217    에포나     Epona  ♀  11월 21일      아이돌
218     문복  Octavian  ♂  09월 20일      무뚝뚝
219     탁호    Zucker  ♂  03월 08일       먹보
220    문리나    Marina  ♀  06월 26일      친절함
221    멍무리   Inkwell  ♂  06월 02일      운동광
222     록키       Bam  ♂  11월 07일      운동광
223     넬슨      Zell  ♂  06월 07일      느끼함
224    브루스     Bruce  ♂  05월 26일      무뚝뚝
225     피터      Beau  ♂  04월 05일       먹보
226     자끄      Erik  ♂  07월 27일       먹보
227     톰슨     Lopez  ♂  08월 20일      느끼함
228     솔미     Fauna  ♀  03월 26일      친절함
229    제시카   Fuchsia  ♀  09월 19일     단순활발
230    나탈리     Diana  ♀  01월 04일      성숙함
231    나디아   Deirdre  ♀  05월 04일     단순활발
232     첼시   Chelsea  ♀  01월 18일      친절함
233

In [13]:
# 26
lions = []
ex2 = t[26].select('td')
ex2 = ex2[18:]
for ex22 in ex2:
    lions.append(ex22.text)
print(len(lions)/15)

9.0

In [319]:
# 사자 9마리 추가
for aa in range(9):
    df.loc[aa + 233] = (lions[aa*15 + 1], lions[aa*15 +4], lions[aa*15 +5], lions[aa*15 +6])
print(df.tail(11))
print(len(df))

       이름       성별       생일   성격
220   문리나        ♀  06월 26일  친절함
221   멍무리        ♂  06월 02일  운동광
233    렉스  07월 24일       먹보    O
234    티처  08월 14일      느끼함    O
235    선글  08월 18일      운동광    X
236     킹  07월 23일      무뚝뚝    X
237     릭  07월 10일      운동광    X
238    아더  08월 07일      운동광    X
239  라이오넬  07월 29일      느끼함    X
240  (없음)  02월 26일      운동광    O
241  (없음)  10월 16일      무뚝뚝    X
231

In [14]:
animallist2 = []
for num in range(27, 34):
#     print(num)
    temp = t[num].select('td')
    temp = temp[19:]
    for te in temp:
        animallist2.append(te.text)
print(len(animallist2)/16)
for aa in range(111):
    df.loc[aa + 242] = (animallist2[aa*16 + 1], animallist2[aa*16+3], animallist2[aa*16 +4], animallist2[aa*16 +5], animallist2[aa*16 +6])
print(df.tail(11))
print(len(df))

111.0
       이름      영어이름 성별       생일   성격
342    주디    Pompom  ♀  02월 11일  아이돌
343     앤    Maelle  ♀  04월 08일  성숙함
344   마리모     Deena  ♀  06월 27일  친절함
345   스미모   Mallary  ♀  11월 17일  성숙함
346   다랑어  Freckles  ♀  02월 19일  아이돌
347   미란다   Miranda  ♀  04월 23일  성숙함
348    케첩   Ketchup  ♀  07월 27일  아이돌
349   마릴린    Gloria  ♀  08월 12일  성숙함
350   귀오미     Molly  ♀  03월 07일  친절함
351  (없음)      (없음)  ♂  04월 11일  운동광
352  (없음)      (없음)  ♂  01월 01일  운동광
344

In [15]:
# 34 원숭이
monkey = []
ex4 = t[34].select('td')
ex4 = ex4[16:]
for ex44 in ex4:
#     print(ex44.text)
    monkey.append(ex44.text)
# print(len(monkey)/13)
for aa in range(9):
    df.loc[aa + 353] = (monkey[aa*13 + 1], monkey[aa*13+3], monkey[aa*13 +4], monkey[aa*13 +5], monkey[aa*13 +6])
print(df.tail(10))
print(len(df))

       이름   영어이름 성별       생일    성격
352  (없음)   (없음)  ♂  01월 01일   운동광
353    시몬  Simon  ♂  01월 19일    먹보
354    몽티  Monty  ♂  12월 07일   무뚝뚝
355    원승   Flip  ♂  11월 21일   운동광
356    델리   Deli  ♂  05월 24일    먹보
357    키키   Nana  ♀  08월 23일   친절함
358    몽자  Elise  ♀  03월 21일   성숙함
359  에이프릴  Tammi  ♀  04월 02일   아이돌
360    젤리  Shari  ♀  04월 10일  단순활발
361   몽돌이  Champ  ♂  06월 04일   운동광
353

In [16]:
animallist3 = []
for num in range(35, 43):
    temp = t[num].select('td')
    temp = temp[19:]
    for te in temp:
        animallist3.append(te.text)
print(len(animallist3)/16)

102.0

In [17]:
print(len(animallist3)/16)
for aa in range(102):
    df.loc[aa + 360] = (animallist3[aa*16 + 1], animallist[aa*16+3], animallist3[aa*16 +4], animallist3[aa*16 +5], animallist3[aa*16 +6])
print(df.tail(10))
print(len(df))

102.0
       이름      영어이름 성별       생일   성격
452  곤잘레스   Grizzly  ♂  08월 18일  무뚝뚝
453  가브리엘      Curt  ♂  03월 29일  운동광
454   올리버       Ike  ♂  01월 07일  무뚝뚝
455   데이빗     Klaus  ♂  10월 15일  느끼함
456    차코    Beardo  ♀  09월 18일  아이돌
457    베티     Pinky  ♀  04월 25일  친절함
458    비티      Tutu  ♀  10월 06일  성숙함
459  (없음)    Ursala  ♂  06월 22일   먹보
460  (없음)     Paula  ♀  01월 09일  아이돌
461  (없음)  Charlise  ♀  07월 08일  친절함
453

In [18]:
# 43 햄스터
hem = []
ex3 = t[43].select('td')
ex3 = ex3[14:]
for ex33 in ex3:
    hem.append(ex33.text)
#     print(ex33.text)
print(len(hem)/11)

9.0

In [19]:
for aa in range(9):
    df.loc[aa + 462] = (hem[aa*11 + 1], hem[aa*11+3], hem[aa*11 +4], hem[aa*11 +5], hem[aa*11 +6])
print(df.tail(10))
print(len(df))

       이름      영어이름 성별       생일   성격
461  (없음)  Charlise  ♀  07월 08일  친절함
462   햄스틴    Hamlet  ♂  05월 30일  운동광
463   글라햄    Graham  ♂  06월 20일  느끼함
464    지미    Rodney  ♂  11월 10일  느끼함
465    햄둥      Clay  ♂  10월 19일   먹보
466    햄쥐  Hamphrey  ♂  02월 25일  무뚝뚝
467    애플     Apple  ♀  09월 24일  아이돌
468   뽀야미    Flurry  ♀  01월 30일  친절함
469    샨티    Soleil  ♀  08월 09일  성숙함
470   노리보    Holden  ♂  06월 11일  운동광
462

In [20]:
# 호랑이
tiger = []
for num in range(44, 45):
    temp = t[num].select('td')
    temp = temp[19:]
    for te in temp:
        tiger.append(te.text)
print(len(tiger)/16)
print(tiger)

7.0
['', '호랭이', 'チョモラン', 'Rolf', '♂', '08월 22일', '무뚝뚝', 'O', 'O', 'O', 'O', 'O', 'O', 'O', '\u3000', 'O', '', '고메스', 'ゴメス', 'Rowan', '♂', '08월 26일', '무뚝뚝/운동광', 'X', '☆', '☆', 'O', 'O', 'O', 'O', 'O', 'O', '', '티볼트', 'ハリマオ', 'Tybalt', '♂', '08월 19일', '운동광', 'O', 'O', 'O', 'X', 'X', '◎', 'X', '', 'O', '', '범호', 'ヒョウタ', 'Leonardo', '♂', '05월 15일', '운동광', 'X', 'X', 'O', 'X', 'X', 'O', 'O', '', 'O', '', '루주', 'ルーズ', 'Bangle', '♀', '08월 27일', '아이돌', 'O', 'O', 'O', 'X', 'X', 'O', 'O', '', 'O', '', '신디', 'マリリン', 'Claudia', '♀', '11월 22일', '성숙함', 'X', 'X', 'X', 'X', 'X', 'O', 'O', 'O', 'O', '', '백희', 'コユキ', 'Bianca', '♀', '12월 13일', '아이돌', 'X', 'X', 'X', 'X', 'X', 'O', 'O', 'O', 'O']

In [21]:
# 호랑이 추가
for a in range(7): # 개 종류 20마리
#     print(animallist[a*16+1])
#     print([animallist[a*16 + 1], animallist[a*16 +4], animallist[a*16 +5], animallist[a*16 +6]]) # 예쁘게 한 줄로 뽑아내기 a*16:a*16+16
    df.loc[a + 470] = tiger[a*16 + 1], tiger[a*16+3],  tiger[a*16 +4], tiger[a*16 +5], tiger[a*16 +6]

In [22]:
print(df.tail(10))

      이름      영어이름 성별       생일       성격
467   애플     Apple  ♀  09월 24일      아이돌
468  뽀야미    Flurry  ♀  01월 30일      친절함
469   샨티    Soleil  ♀  08월 09일      성숙함
470  호랭이      Rolf  ♂  08월 22일      무뚝뚝
471  고메스     Rowan  ♂  08월 26일  무뚝뚝/운동광
472  티볼트    Tybalt  ♂  08월 19일      운동광
473   범호  Leonardo  ♂  05월 15일      운동광
474   루주    Bangle  ♀  08월 27일      아이돌
475   신디   Claudia  ♀  11월 22일      성숙함
476   백희    Bianca  ♀  12월 13일      아이돌

In [23]:
df.to_excel('animals.xlsx')