In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
from urllib import parse
import re
import requests

In [2]:
URL = "https://namu.wiki/w/%EB%AA%A8%EC%97%AC%EB%B4%90%EC%9A%94%20%EB%8F%99%EB%AC%BC%EC%9D%98%20%EC%88%B2/%EA%B2%8C%EC%9E%84%20%EA%B4%80%EB%A0%A8%20%EC%A0%95%EB%B3%B4#toc"
def get_html(url):
    r = requests.get(url)
    return r.text
html = get_html(URL)
soup=BeautifulSoup(html,"html.parser")

In [3]:
t = soup.find_all("table")
print(len(t))

16

In [39]:
# print(t[3])

In [40]:
col = t[3].tr # 실제 곤충 데이터가 있는 테이블 설정
cols = col.select('strong')
print(cols)

[<strong>명칭</strong>, <strong>부위</strong>, <strong>판매 가격</strong>]

In [41]:
columns = []
for column in cols:
    columns.append(column.text)
print(columns)

['명칭', '부위', '판매 가격']

In [42]:
df = pd.DataFrame(columns = columns)
print(df) # 칼럼만 있는 데이터 생성

Empty DataFrame
Columns: [명칭, 부위, 판매 가격]
Index: []

In [50]:
content = t[3].select('td')
flist = []
for fossil in content:
    flist.append(fossil.text)
first = flist[3:33]
second = flist[33:]
print(len(first))
print(len(second))

30
139

In [51]:
for j in range(len(first)//2):
#     print(first[j * 2], first[j*2+1])
    df.loc[j] = (first[j * 2],'', first[j*2+1]) # 0 6 7 13

In [52]:
print(df.tail())

           명칭 부위   판매 가격
10    에우스테놉테론     2,000벨
11  오스트랄로피테쿠스     1,100벨
12      암모나이트     1,100벨
13   쥐라마이아[2]     1,500벨
14         호박     1,200벨

In [59]:
print(second)
for j in range(len(second)//3):
#     print(second[j * 3], second[j*3+1], second[j*3+2])
    df.loc[j+14] = (second[j * 3], second[j*3+1], second[j*3+2]) # 0 6 7 13

['데이노니쿠스', '머리', '3,000벨', '꼬리', '2,500벨', '디메트로돈', '머리', '5,500벨', '몸통', '5,000벨', ' 디플로도쿠스', '머리', '5,000벨', '목', '4,500벨', '가슴', '4,000벨', '허리', '4,500벨', '꼬리', '5,000벨', '꼬리 끝', '', '매머드', '머리', '3,000벨', '몸통', '2,500벨', '메가케롭스', '머리', '4,500벨', '몸통', '3,500벨', '꼬리', '3,000벨', '메갈로케로스', '왼쪽 반신', '4,000벨', '오른쪽 반신', '5,500벨', '브라키오사우루스', '머리', '6,000벨', '가슴', '5,500벨', '허리', '', '꼬리', '5,500벨', '스밀로돈', '머리', '2,500벨', '몸통', '2,000벨', '스테고사우루스', '머리', '5,000벨', '몸통', '4,500벨', '꼬리', '4,000벨', '스피노사우루스', '머리', '4,000벨', '몸통', '3,000벨', '꼬리', '2,500벨', '아르켈론', '머리', '4,000벨', '몸통', '3,500벨', '안킬로사우루스', '머리', '3,500벨', '몸통', '', '꼬리', '2,500벨', '오프탈모사우루스', '머리', '2,500벨', '몸통', '2,000벨', '이구아노돈', '머리', '4,000벨', '몸통', '3,500벨', '꼬리', '3,000벨', '케찰코아틀루스', '머리', '4,500벨', '오른날개', '5,000벨', '왼날개', '5,000벨', '트리케라톱스', '머리', '5,500벨', '몸통', '5,000벨', '꼬리', '4,500벨', '티렉스[3]', '머리', '6,000벨', '몸통', '5,500벨', '꼬리', '5,000벨', '파라사우롤로푸스', '머리', '3,500벨 ', '몸통', '3,000벨', '꼬리', '2,500벨', '파키케팔로사우루스', '머리', '4,000벨', '몸통', '3,500벨', '프테라노돈', '머리', '4,000벨', '오른날개', '4,500벨', '왼날개', '4,500벨', '후타바사우루스', '머리', '4,000벨 ', '몸통', '4,500벨', '꼬리', '4,500벨']

In [60]:
print(df.tail())

         명칭      부위    판매 가격
55       몸통  3,500벨    프테라노돈
56       머리  4,000벨     오른날개
57   4,500벨     왼날개   4,500벨
58  후타바사우루스      머리  4,000벨
59       몸통  4,500벨       꼬리

In [35]:
print(df.tail())

           명칭 부위   판매 가격
10    에우스테놉테론     2,000벨
11  오스트랄로피테쿠스     1,100벨
12      암모나이트     1,100벨
13   쥐라마이아[2]     1,500벨
14         호박     1,200벨

In [61]:
df.to_excel('fossils.xlsx')